<p>
  
  <mat-toolbar color="primary" [ngClass]="{'light-mode':!isDarkTheme, 'dark-mode':isDarkTheme}">
    <button
      mat-icon-button
      color="accent"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="isDrawerOpen = !isDrawerOpen"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <button
      mat-icon-button
      class="example-icon"
      color="accent"
      aria-label="Example icon-button with share icon"
      (click)="isDarkTheme = !isDarkTheme; refreshPage();"
    >
      <ng-container *ngIf="!isDarkTheme; else darkThemeIcon">
        <span class="material-icons">light_mode </span>
      </ng-container>
      <ng-template #darkThemeIcon>
        <span class="material-icons">dark_mode </span>
      </ng-template>
    </button>
  </mat-toolbar>
</p>
<app-sidenav [showFiller]="isDrawerOpen"></app-sidenav>
