<mat-drawer-container class="application-container" autosize [hasBackdrop]="true">
    <mat-drawer #drawer class="application-sidenav" mode="side">
      <ng-container *ngIf="showFiller">
        <div class="nav-button__wrapper" *ngFor="let component of components"> 
          <button mat-raised-button class="nav-button" (click)="retrieveComponent(component.toolTag)"> {{component.toolName}}</button>
        </div>
      </ng-container>
    </mat-drawer>
  
    <!-- Load component -->
    <div class="application-sidenav-content">
        <p>Component loaded (maybe factory pattern) based off of button click <br> Loading spinner needed as well</p>
    </div>
</mat-drawer-container>